# Data Preparation

In [106]:
import pandas as pd
import plotly.express as px #pip install plotly-express
import streamlit as st # pip install streamlit
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from tabulate import tabulate    # Used to create tables
from collections import Counter  # used to iterate or count occureneces of a value in a column

In [107]:
st.set_page_config(page_title = "Los Angeles Crime Dashboard",
                  page_icon = "")

In [108]:
df_all = pd.read_csv("H:\\Denis\\Data_Analysis_Training\\Python 2\\L.A Crime Analysis\\Los_Angeles_Crime.csv")

In [110]:
df = df_all[["AREA_NAME","Type_of_Crime","VICTIM_AGE","VICTIM_SEX","Area_crime_conducted","WEAPON_DESC","STATUS_DESC"]]

# Data Cleaning

In [111]:
df.head()

,AREA_NAME,Type_of_Crime,VICTIM_AGE,VICTIM_SEX,Area_crime_conducted,WEAPON_DESC,STATUS_DESC
0,Southwest,Battery,36,F,Single Residency,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other
1,Central,Battery,25,M,Street,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont
2,Central,Sexual Offense,0,X,Police Facility,NaN,Adult Arrest
3,N Hollywood,Vandalism,76,F,Multi-Unit Dwelling,NaN,Invest Cont
4,Mission,Vandalism,31,X,Other Business,NaN,Invest Cont

In [112]:
df.nunique()

AREA_NAME                21
Type_of_Crime            62
VICTIM_AGE              101
VICTIM_SEX                4
Area_crime_conducted     61
WEAPON_DESC              78
STATUS_DESC               5
dtype: int64

In [113]:
df.describe()

          VICTIM_AGE
count  407199.000000
mean       30.056125
std        21.718318
min        -1.000000
25%        12.000000
50%        31.000000
75%        45.000000
max       120.000000

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407199 entries, 0 to 407198
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   AREA_NAME             407199 non-null  object
 1   Type_of_Crime         407199 non-null  object
 2   VICTIM_AGE            407199 non-null  int64
 3   VICTIM_SEX            353458 non-null  object
 4   Area_crime_conducted  407039 non-null  object
 5   WEAPON_DESC           146379 non-null  object
 6   STATUS_DESC           407199 non-null  object
dtypes: int64(1), object(6)
memory usage: 21.7+ MB

In [115]:
df.count()

AREA_NAME               407199
Type_of_Crime           407199
VICTIM_AGE              407199
VICTIM_SEX              353458
Area_crime_conducted    407039
WEAPON_DESC             146379
STATUS_DESC             407199
dtype: int64

In [116]:
df.isnull().sum()

AREA_NAME                    0
Type_of_Crime                0
VICTIM_AGE                   0
VICTIM_SEX               53741
Area_crime_conducted       160
WEAPON_DESC             260820
STATUS_DESC                  0
dtype: int64

In [127]:
df = df.dropna()

In [128]:
df.isnull().sum()

AREA_NAME               0
Type_of_Crime           0
VICTIM_AGE              0
VICTIM_SEX              0
Area_crime_conducted    0
WEAPON_DESC             0
STATUS_DESC             0
dtype: int64

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134959 entries, 0 to 407194
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   AREA_NAME             134959 non-null  object
 1   Type_of_Crime         134959 non-null  object
 2   VICTIM_AGE            134959 non-null  int64
 3   VICTIM_SEX            134959 non-null  object
 4   Area_crime_conducted  134959 non-null  object
 5   WEAPON_DESC           134959 non-null  object
 6   STATUS_DESC           134959 non-null  object
dtypes: int64(1), object(6)
memory usage: 8.2+ MB

In [130]:

#drop any rows that have 0 in the VICTIM_AGE column
df = df[df.VICTIM_AGE != 0]

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134959 entries, 0 to 407194
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   AREA_NAME             134959 non-null  object
 1   Type_of_Crime         134959 non-null  object
 2   VICTIM_AGE            134959 non-null  int64
 3   VICTIM_SEX            134959 non-null  object
 4   Area_crime_conducted  134959 non-null  object
 5   WEAPON_DESC           134959 non-null  object
 6   STATUS_DESC           134959 non-null  object
dtypes: int64(1), object(6)
memory usage: 8.2+ MB

# Data Analysis

## IF AND Function

In [31]:
# Checking the number of females on individuals more than 18 years
print(sum((df_clean.VICTIM_SEX  == "F") & (df_clean.VICTIM_AGE > 18)))

60713

In [32]:
# Checking the number of females on individuals below 18 years
print(sum((df_clean.VICTIM_SEX  == "F") & (df_clean.VICTIM_AGE < 18)))

5523

## SUM IF Function

In [33]:
print(df.groupby('STATUS_DESC').sum())

              VICTIM_AGE
STATUS_DESC
Adult Arrest     1190542
Adult Other      1759921
Invest Cont      9241358
Juv Arrest         32414
Juv Other          14589

In [45]:
xl = (df.groupby('STATUS_DESC')['VICTIM_AGE'].mean())
pd.DataFrame(xl)

              VICTIM_AGE
STATUS_DESC
Adult Arrest   30.123526
Adult Other    34.858204
Invest Cont    29.319215
Juv Arrest     23.921771
Juv Other      22.938679

In [47]:
xm = (df.groupby('VICTIM_SEX')['VICTIM_AGE'].count())
pd.DataFrame(xm)

            VICTIM_AGE
VICTIM_SEX
F               148445
H                   46
M               172192
X                32775

In [54]:
# Average age of victims under the different gender specification
xn = (df.groupby('VICTIM_SEX')['VICTIM_AGE'].mean())
pd.DataFrame(xn)

            VICTIM_AGE
VICTIM_SEX
F            38.336953
H            36.608696
M            37.592740
X             2.212479

## Mode (most occuring elements)

In [56]:
# Area where most crimes occur
df.Area_crime_conducted.mode()

0    Street
Name: Area_crime_conducted, dtype: object

In [71]:
# Getting the top 7 most common type of crime in LA
from collections import Counter  # used to iterate or count occureneces of a value in a column
words_to_count = (word for word in df.Type_of_Crime)
c = Counter(words_to_count)
xp = (c.most_common(8))
pd.DataFrame(xp)

                      0      1
0             Car theft  58716
1              Burglary  51192
2             Vandalism  39868
3               Battery  35706
4  Assault - Aggravated  24866
5         Petty - Theft  23729
6        Simple assault  21586
7         Impersonation  20451

In [93]:
# Top 10 most common type of crimes in L.A in percentage
counts_1 = df.Type_of_Crime.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
pd.DataFrame(counts_1.head(10))

                     Type_of_Crime
Car theft                    14.4%
Burglary                     12.6%
Vandalism                     9.8%
Battery                       8.8%
Assault - Aggravated          6.1%
Petty - Theft                 5.8%
Simple assault                5.3%
Impersonation                 5.0%
Car jacking                   4.4%
Grand - Theft                 4.0%

In [78]:

# Getting the top 7 specific areas where crime occurrs in LA
from collections import Counter  # used to iterate or count occureneces of a value in a column
words_to_count = (word for word in df.Area_crime_conducted)
c = Counter(words_to_count)
xp = (c.most_common(8))
pd.DataFrame(xp)

                     0       1
0               Street  127526
1     Single Residency   70513
2          Parking Lot   55284
3  Multi-Unit Dwelling   49652
4       Other Business   35831
5              Vehicle   13463
6           Restaurant    7137
7  Government Facility    6341

In [81]:
# Another method of getting the 10 areas where crimes occur in L.A
counts = df.Area_crime_conducted.value_counts()
pd.DataFrame(counts.head(10))

                     Area_crime_conducted
Street                             127526
Single Residency                    70513
Parking Lot                         55284
Multi-Unit Dwelling                 49652
Other Business                      35831
Vehicle                             13463
Restaurant                           7137
Government Facility                  6341
Supermarket                          5790
School area                          3110

In [91]:
# Adding percentage to the counts
counts = df.Area_crime_conducted.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
pd.DataFrame(counts.head(10))

                    Area_crime_conducted
Street                             31.3%
Single Residency                   17.3%
Parking Lot                        13.6%
Multi-Unit Dwelling                12.2%
Other Business                      8.8%
Vehicle                             3.3%
Restaurant                          1.8%
Government Facility                 1.6%
Supermarket                         1.4%
School area                         0.8%

In [94]:

# Gender of victims in percentage
counts_gender = df.VICTIM_SEX.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
pd.DataFrame(counts_gender.head(10))

  VICTIM_SEX
M      48.7%
F      42.0%
X       9.3%
H       0.0%

In [132]:

# Most occuring age of the victims in percentage
counts_age = df.VICTIM_AGE.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
pd.DataFrame(counts_age.head(10))

   VICTIM_AGE
30       3.1%
26       2.9%
25       2.9%
29       2.9%
28       2.9%
27       2.9%
31       2.8%
24       2.7%
32       2.6%
23       2.6%

In [139]:
# Top ten locations with the highest crime reported
counts_area = df.AREA_NAME.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
pd.DataFrame(counts_area.head(10))

            AREA_NAME
77th Street      9.1%
Southeast        7.5%
Central          7.1%
Southwest        6.9%
Newton           5.7%
Hollywood        5.6%
Rampart          5.4%
Olympic          5.2%
Pacific          4.5%
Harbor           4.3%